.circle {
    height: 5px;
    width: 5px;
    background: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.track {
    height: 1px;
    width: 1px;
    background: black;
    position: absolute;
}

canvas {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}